@mixin test {
  text-decoration: underline;
  span {
    font-size: 200px;
  }
}

#test {
  .h1 {
    color: green;
    font-weight: bold;
    font-style: italic;
    @include test
  }
  .input {
    border: none;
  }
}
